.itemName{
    font-weight: bold;
    padding: 2px;  
    
}

.item{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    
}
.line{
    border: 1px solid #bbeace;
}

.deleteButton{
    padding: 8px 12px;
    border: none;
    background-color: #3F7D58;
    color: #bbeace;
    border-radius: 6px;
    cursor: pointer;
}